<footer class="footer">
  <div class="container footer__container">
    <div class="footer__content">
      <a class="nav-logo footer-logo__link" href="./index.html">
        <svg class="logo-icon">
          <use href="./img/svg/icons.svg#logo-icon"></use>
        </svg>
        <span class="logo-word">CUCINA</span>
      </a>
      <ul class="nav-footer__list">
        <li class="nav-footer__item">
          <a class="nav-footer__link" href="#header">Home</a>
        </li>
        <li class="nav-footer__item">
          <a class="nav-footer__link" href="#page-products">Store</a>
        </li>
        <li class="nav-footer__item">
          <a class="nav-footer__link" href="">Recipes</a>
        </li>
        <li class="nav-footer__item">
          <a class="nav-footer__link" href="#page-gallery">Gallery</a>
        </li>
      </ul>
      <address class="address">
        <ul class="address__list">
          <li class="address__item">
            <a
              class="address__link"
              href="https://goo.gl/maps/ETZULEgZQikUzrSf7"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="address-svg" width="24" height="24">
                <use
                  href="./img/footer/svg/social-media.svg#icon-location"
                ></use>
              </svg>
              Elvia Elviaveien 1, 1234 Oslo</a
            >
          </li>
          <li class="address__item">
            <a class="address__link" href="mailto:willie.jennings@example.com">
              <svg class="address-svg" width="24" height="24">
                <use href="./img/footer/svg/social-media.svg#icon-email"></use>
              </svg>
              willie.jennings@example.com</a
            >
          </li>
        </ul>
      </address>
      <div class="footer__mobile-socials">
        <ul class="footer-socials__list">
          <li class="footer-socials__item">
            <a class="footer-socials__link" href="">
              <svg class="social-media">
                <use
                  href="./img/footer/svg/social-media.svg#icon-social-tumblr"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a class="footer-socials__link" href="">
              <svg class="social-media">
                <use
                  href="./img/footer/svg/social-media.svg#icon-instagram"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a class="footer-socials__link" href="">
              <svg class="social-media">
                <use
                  href="./img/footer/svg/social-media.svg#icon-youtube"
                ></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials__item">
            <a class="footer-socials__link" href="">
              <svg class="social-media">
                <use
                  href="./img/footer/svg/social-media.svg#icon-twitter"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__terms-and-policy">
      By using this website, you agree to the
      <a class="terms-and-policy__link" href="#">Terms of Service</a> and
      <a class="terms-and-policy__link" href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
