<footer class="footer">
  <div class="container footer-container">
    <div class="footer__content">
      <a class="nav-logo footer-logo" href="./index.html">
        <img
          src="./images/header/logo.png"
          alt="Tomato Logo"
          width="32"
          height="32"
        />
        <span>Cucina</span>
      </a>
      <ul class="footer-tabs__list">
        <li class="footer-tabs__item">
          <a class="footer-tabs__link" href="">Home</a>
        </li>
        <li class="footer-tabs__item">
          <a class="footer-tabs__link" href="">Store</a>
        </li>
        <li class="footer-tabs__item">
          <a class="footer-tabs__link" href="">Recipes</a>
        </li>
        <li class="footer-tabs__item">
          <a class="footer-tabs__link" href="">Gallery</a>
        </li>
      </ul>
      <address class="address">
        <ul class="address__list">
          <li class="address__item">
            <a class="address__link" href="">
              <svg class="address-svg" width="16.5px" height="21px">
                <use
                  href="./images/footer/svg/social-media.svg#icon-location"
                ></use>
              </svg>
              Elvia Elviaveien 1, 1234 Oslo</a
            >
          </li>
          <li class="address__item">
            <a class="address__link" href="mailto:willie.jennings@example.com">
              <svg class="address-svg" width="21px" height="16px">
                <use
                  href="./images/footer/svg/social-media.svg#icon-email"
                ></use>
              </svg>
              willie.jennings@example.com</a
            >
          </li>
        </ul>
      </address>
      <ul class="footer-socials__list">
        <li class="footer-socials__item">
          <a class="footer-socials__link" href=""
            >Tumblr
            <svg class="social-media" width="16px" height="24px">
              <use
                href="./images/footer/svg/social-media.svg#icon-social-tumblr"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item">
          <a class="footer-socials__link" href=""
            >Instagram
            <svg class="social-media" width="16px" height="24px">
              <use
                href="./images/footer/svg/social-media.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item">
          <a class="footer-socials__link" href=""
            >YouTube
            <svg class="social-media" width="16px" height="24px">
              <use
                href="./images/footer/svg/social-media.svg#icon-youtube"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item">
          <a class="footer-socials__link" href=""
            >Twitter
            <svg class="social-media" width="16px" height="24px">
              <use
                href="./images/footer/svg/social-media.svg#icon-twitter"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <p class="footer__terms-and-policy">
      By using this website, you agree to the
      <a class="terms-and-policy__link" href="#">Terms of Service</a> and
      <a class="terms-and-policy__link" href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
