<section class="page-gallery">
  <div class="container">
    <h2 hidden class="page-gallery__title">Gallery</h2>
    <ul class="page-gallery__list gallery-list">
      <li class="gallery-list__item">
        <picture class="gallery-picture">
          <source
            media="(min-width: 1020px)"
            srcset="./img/gallery/img-g1-770_pad@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="./img/gallery/img-g1-1038_mac@2x.jpg"
          />
          <img
            class="gallery-img"
            src="./img/gallery/img-g1-336@2x_phone.jpg"
            alt="man takes tomatoes"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list__item">
        <picture class="gallery-picture">
          <source
            media="(min-width: 1020px)"
            srcset="./img/gallery/img-g2-770_pad@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="./img/gallery/img-g2-1038_mac@2x.jpg"
          />
          <img
            class="gallery-img"
            src="./img/gallery/img-g2-336@2x_phone.jpg"
            alt="man takes tomatoes"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list__item">
        <picture class="gallery-picture" dir="rtl">
          <source
            media="(min-width: 1020px)"
            srcset="./img/gallery/img-g3-770_pad@2x.jpg"
          />
          <source
            media="(min-width: 1280px)"
            srcset="./img/gallery/img-g3-1038_mac@2x.jpg"
          />
          <img
            class="gallery-img"
            src="./img/gallery/img-g3-336@2x_phone.jpg"
            alt="man takes tomatoes"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
