<section class="page-gallery">
  <div class="container">
    <h2 hidden class="page-gallery__title">Gallery</h2>
    <ul class="page-gallery__list gallery-list">
      <li class="gallery-list__item">
        <img
          src="./images/gallery/image6.png"
          alt="man takes tomatoes"
          width="770"
          height="504"
        />
      </li>
      <li class="gallery-list__item">
        <img
          src="./images/gallery/full-shot-kids-picking-tomatoes1.jpg"
          width="770"
          height="504"
          alt="two girls takes tomatoes"
        />
      </li>
      <li class="gallery-list__item">
        <img
          src="./images/gallery/farmer-picking-fresh-ripe-tomato-vegetables-for-the-market-sale1.jpg"
          width="770"
          height="504"
          alt="smiling man takes tomatoes"
        />
      </li>
    </ul>
  </div>
</section>
