<header class="header" id="header">
  <div class="container header__container">
    <nav class="header__nav">
      <a class="nav-logo header-logo__link" href="./index.html">
        <svg class="logo-icon">
          <use href="./img/svg/icons.svg#logo-icon"></use>
        </svg>
        <span class="logo-word">CUCINA</span>
      </a>
      <ul class="header__list">
        <li class="header__item">
          <a class="header__item-link" href="./index.html">Home</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#page-products">Store</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#recipes">Recipes</a>
        </li>
        <li class="header__item">
          <a class="header__item-link" href="#page-gallery">Gallery</a>
        </li>
      </ul>
      <button class="header__button" type="button" data-contacts-open>
        Contact us
      </button>
    </nav>
    <button class="header__menu-toggle" data-mobile-menu-open>
      <svg class="" width="31" height="16">
        <use href="./img/svg/icons.svg#icon-hamburger"></use>
      </svg>
    </button>
  </div>
</header>
