<section class="hero">
  <div class="container">
    <!-- ---Wraper-title--- -->

    <h1 class="hero-wraper__title">CUCINA DI CATHERINA</h1>
    <p class="hero-wraper__subtitle">
      We know,<br />
      you will <span class="hero-wraper__subtitle_red">love</span> our product
    </p>
    <button class="hero-wraper__button" type="button" data-modal-open>
      Buy now
    </button>
    <ul class="hero-list hero-wraper__list">
      <li class="hero-list__item">
        <span class="hero-list__item-number">14</span>
        <p class="hero-list__item-text hero-list__item-text--after">
          different tastes
        </p>
      </li>
      <li class="hero-list__item">
        <span class="hero-list__item-number">31</span>
        <p class="hero-list__item-text">factories around the world</p>
      </li>
    </ul>

    <picture>
      <source
        media="(min-width: 1280px)"
        srcset="./img/hero/ketchup_desk@1x.png"
      />
      <source
        media="(min-width: 1020px)"
        srcset="./img/hero/ketchup_tab@1x.png"
      />
      <img
        class="hero__img-pasta"
        src="./img/hero/ketchup.png"
        alt="Cupping glass of Pasta Sause"
        loading="lazy"
      />
    </picture>
    <!-- images-hero-- -->
    <!-- --social-icons-- -->
    <ul class="social hero__list-social">
      <li class="social__item">
        <a
          class="social__link"
          href="https://tumblr.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="tumblr icon"
        >
          <svg class="social social__link-icon" width="24" height="24">
            <use href="./img/icons.svg#hero__icon-tumblr"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          class="social__link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="instagram icon"
        >
          <svg class="social__link-icon" width="24" height="24">
            <use href="./img/icons.svg#hero__icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          class="social__link"
          href="https://youtube.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="youtube icon"
        >
          <svg class="social__link-icon" width="24" height="24">
            <use href="./img/icons.svg#hero__icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a
          class="social__link"
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="twitter icon"
        >
          <svg class="social__link-icon" width="24" height="24">
            <use href="./img/icons.svg#hero__icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
