<div class="backdrop backdrop-mobail-saidbar is-hidden" data-mobile-menu>
    <div class="menu-container">
        <div class="mobile-saidbar-top">
            <a class="nav-logo footer-logo top-logo" href="./index.html">
                <svg class="logo-icon" width="28" height="28">
                    <use href="./img/svg/icons.svg#logo-icon"></use>
                </svg>
                <span>CUCINA</span>
            </a>
            <button class="menu-toggle modal-btn" data-mobile-menu-close>
                <svg class="button__mobile" width="17" height="17">
                    <use href="./img/svg/icons.svg#icon-close"></use>
                </svg>
            </button>
        </div>
        <ul class="list mobile-menu">
            <li class="item mobile-item">
                <a class="link mobile-link" href="../index.html">Home</a>
            </li>
            <li class="item  mobile-item">
                <a class="link mobile-link" href="#">Store</a>
            </li>
            <li class="item mobile-item">
                <a class="link mobile-link" href="#">Recipes</a>
            </li>
            <li class="item mobile-item">
                <a class="link mobile-link" href="#">Gallery</a>
            </li>
        </ul>
        <button class="mobail-saidbar-btn contact-use" type="button">Contact us</button>

    </div>
</div>