<div class="header__menu-container" data-contacts>
    <div class="modal-contacts">
        <button class="header__menu-toggle js-close-menu" data-mobile-menu-close>
            <svg class="button__svg" width="17" height="17">
                <use href="../img/icons.svg#icon-order-modal"></use>
            </svg>
        </button>
        <p class="modal-contacts__area">
            Leave your contacts and we will contact you
        </p>
        <form class="modal-contacts__form">
            <label class="modal-contacts__label">Name
                <input class="modal-contacts__input" type="text" name="name" placeholder="Yuliia">
            </label class="modal-contacts__label">
            <label">Telephone
                <input class="modal-contacts__input" type="tel" name="tel" placeholder="+380">
                </label class="modal-contacts__label">
                <label>Email
                    <input class="modal-contacts__input" type="email" name="email" placeholder="Contact@gmail.com">
                </label>
                <textarea name="help" placeholder="How can we help you?"></textarea>
        </form>
        <button class="button modal-contacts__btn" type="submit">
            Contact us
        </button>
    </div>
</div>