<section class="page-products">
  <h2 hidden class="products__tittle">Products</h2>
  <div class="container">
    <div class="product-wrapper">
      <div class="slick-slide">
        <ul class="products__list">
          <li class="products__item">
            <picture>
              <!-- Tablet and desktop screen -->
              <source
                media="(min-width: 1020px)"
                srcset="/img/products/tomato-lg@2x.png 2x"
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 1019px)"
                srcset="/img/products/tomato-sm@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__link-image link-image_left"
                src="/img/products/tomato-sm@2x.png"
                alt="Classic sauce"
              />
            </picture>
            <div class="products-descr">
              <h3 class="products-list__item-title">Classic sauce</h3>
              <p class="products-list__item-text">
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button
                type="button"
                class="products-list__item-btn item-btn_left btn"
                data-order-open
              >
                Buy now
              </button>
            </div>
          </li>
          <li class="products__item">
            <div class="products-descr">
              <h3 class="products-list__item-title">Spicy sauce</h3>
              <p class="products-list__item-text">
                For thrill-seekers, we added hot chili pepper to our sauce, it
                also reveals all the tastes and aromas of the sauce wel.
              </p>
              <button
                type="button"
                class="products-list__item-btn btn"
                data-order-open
              >
                Buy now
              </button>
            </div>
            <picture>
              <!-- Tablet and desktop screen -->
              <source
                media="(min-width: 1020px)"
                srcset="/img/products/chili-lg@2x.png 2x"
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 1019px)"
                srcset="/img/products/chili-sm@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__link-image link-image_rigth"
                src="/img/products/chili-sm@2x.png"
                alt="Classic sauce"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="slick-slide">
        <ul class="products__list">
          <li class="products__item">
            <picture>
              <!-- Tablet and desktop screen -->
              <source
                media="(min-width: 1020px)"
                srcset="/img/products/ketchup-or-tomato-lg@2x.jpg 2x"
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 1019px)"
                srcset="/img/products/ketchup-or-tomato-sm@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__link-image link-image_left"
                src="/img/products/ketchup-or-tomato-sm@2x.png"
                alt="Classic sauce"
              />
            </picture>
            <div class="products-descr">
              <h3 class="products-list__item-title">Classic sauce</h3>
              <p class="products-list__item-text">
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button
                type="button"
                class="products-list__item-btn item-btn_left btn"
                data-order-open
              >
                Buy now
              </button>
            </div>
          </li>
          <li class="products__item">
            <div class="products-descr">
              <h3 class="products-list__item-title">Spicy sauce</h3>
              <p class="products-list__item-text">
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button
                type="button"
                class="products-list__item-btn btn"
                data-order-open
              >
                Buy now
              </button>
            </div>

            <picture>
              <!-- Tablet and desktop screen -->
              <source
                media="(min-width: 1020px)"
                srcset="/img/products/red-hot-lg@2x.png 2x"
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 1019px)"
                srcset="/img/products/red-hot-sm@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__link-image link-image_rigth"
                src="/img/products/red-hot-sm@2x.png"
                alt="Classic sauce"
              />
            </picture>
          </li>
        </ul>
      </div>
      <div class="slick-slide">
        <ul class="products__list">
          <li class="products__item">
            <picture>
              <!-- Tablet and desktop screen -->
              <source
                media="(min-width: 1020px)"
                srcset="/img/products/ketchup-lg@2x.png 2x"
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 1019px)"
                srcset="/img/products/ketchup-sm@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__link-image link-image_left"
                src="/img/products/ketchup-sm@2x.png"
                alt="Classic sauce"
              />
            </picture>
            <div class="products-descr">
              <h3 class="products-list__item-title">Classic sauce</h3>
              <p class="products-list__item-text">
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button
                type="button"
                class="products-list__item-btn item-btn_left btn"
                data-order-open
              >
                Buy now
              </button>
            </div>
          </li>
          <li class="products__item">
            <div class="products-descr">
              <h3 class="products-list__item-title">Spicy sauce</h3>
              <p class="products-list__item-text">
                The most delicate taste of tomatoes, combined with branded
                spices and white wine, will make your dish incredibly tasty.
              </p>
              <button
                type="button"
                class="products-list__item-btn btn"
                data-order-open
              >
                Buy now
              </button>
            </div>

            <picture>
              <!-- Tablet and desktop screen -->
              <source
                media="(min-width: 1020px)"
                srcset="/img/products/red-lg@2x.png 2x"
                type="image/png"
              />
              <!-- Mobile screen -->
              <source
                media="(max-width: 1019px)"
                srcset="/img/products/red-sm@2x.png 2x"
                type="image/png"
              />
              <img
                class="products-list__link-image link-image_rigth"
                src="/img/products/red-sm@2x.png"
                alt="Classic sauce"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
