<section class="page-products">
  <h2 hidden class="products__tittle">Products</h2>
  <div class="container">
    <div class="product-wrapper">
      <ul class="products__list">
        <li class="products__item">
          <img
            class="products-list__link-image link__image_left"
            src="/img/products/tomato-sm@1x.png"
            width="156"
            height="156"
            alt="Classic sauce"
          />
          <div>
            <h3 class="products-list__item-title">Classic sauce</h3>
            <p class="products-list__item-text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button type="button" class="products-list__item-btn btn">
              Buy now
            </button>
          </div>
        </li>
        <li class="products__item">
          <img
            class="products-list__link-image"
            src="/img/products/chili-sm@1x.png"
            width="156"
            height="156"
            alt="Classic sauce"
          />
          <div>
            <h3 class="products-list__item-title">Spicy sauce</h3>
            <p class="products-list__item-text">
              For thrill-seekers, we added hot chili pepper to our sauce, it
              also reveals all the tastes and aromas of the sauce wel.
            </p>
            <button type="button" class="products-list__item-btn btn">
              Buy now
            </button>
          </div>
        </li>
      </ul>

      <ul class="products__list">
        <li class="products__item">
          <img
            class="products-list__link-image link__image_left"
            src="/img/products/ketchup-or-tomato-sm@1x.png"
            width="156"
            height="156"
            alt="Classic sauce"
          />

          <div>
            <h3 class="products-list__item-title">Classic sauce</h3>
            <p class="products-list__item-text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button type="button" class="products-list__item-btn btn">
              Buy now
            </button>
          </div>
        </li>
        <li class="products__item">
          <img
            class="products-list__link-image"
            src="/img/products/red-hot-sm@1x.png"
            width="156"
            height="156"
            alt="Classic sauce"
          />
          <div>
            <h3 class="products-list__item-title">Classic sauce</h3>
            <p class="products-list__item-text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button type="button" class="products-list__item-btn btn">
              Buy now
            </button>
          </div>
        </li>
      </ul>

      <ul class="products__list">
        <li class="products__item">
          <img
            class="products-list__link-image link__image_left"
            src="/img/products/ketchup-sm@1x.png"
            width="156"
            height="156"
            alt="Classic sauce"
          />

          <div>
            <h3 class="products-list__item-title">Classic sauce</h3>
            <p class="products-list__item-text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button type="button" class="products-list__item-btn btn">
              Buy now
            </button>
          </div>
        </li>
        <li class="products__item">
          <img
            class="products-list__link-image"
            src="/img/products/red-sm@1x.png"
            width="156"
            height="156"
            alt="Classic sauce"
          />
          <div>
            <h3 class="products-list__item-title">Classic sauce</h3>
            <p class="products-list__item-text">
              The most delicate taste of tomatoes, combined with branded spices
              and white wine, will make your dish incredibly tasty.
            </p>
            <button type="button" class="products-list__item-btn btn">
              Buy now
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
