<section class="recipes">
  <div class="container">
    <h2 hidden class="recipes__tittle">Recipes</h2>
    <ul class="recipes__list">
      <li class="recipes__item">
        <iframe
          width="442"
          height="307"
          src="https://www.youtube.com/embed/qkTlcfCw7jQ?controls=0"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          loading="lazy"
          allowfullscreen
        ></iframe>
        <p class="recipes__text">Bell pepper pasta</p>
      </li>
      <li class="recipes__item">
        <iframe
          width="442"
          height="307"
          src="https://www.youtube.com/embed/vM58AvWU5L0?controls=0"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          loading="lazy"
          allowfullscreen
        ></iframe>
        <p class="recipes__text">Tomato paste</p>
      </li>
    </ul>
  </div>
</section>
