.btn {
  width: 100%;
  padding: 21px 110px;
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  border: none;
  color: #f3f3f3;
  background: rgba(188, 26, 26, 0.2);

  border-radius: 16px;
  cursor: pointer;
}
