.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-order {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  padding: 15px;
  max-width: 414px;
  width: 100%;
  min-height: 1272px;

  background-color: #100f0f;
  border-radius: 16px;
  background-color: whit;
}
.modal-order__button {
  display: block;
  margin-left: auto;
  margin-bottom: 13px;

  width: 32px;
  height: 32px;

  background-color: #100f0f;
  border: none;
}

.button__svg {
  fill: white;
}
.backdrop.is-hidden .modal-order {
  transform: translate(50%, 50%);
}
.modal-order__title {
  margin-bottom: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.26;
  text-align: center;
  color: #f3f3f3;
}
.form-ordering {
}

.form-ordering__group {
  border: none;
  margin-bottom: 40px;
}

.form-ordering__group-title {
  margin-bottom: 24px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  color: #f3f3f3;
}

.form-ordering__label {
  display: block;
}

.form-ordering__input {
  margin-bottom: 20px;
  padding: 16px;
  max-width: 382px;
  width: 100%;
  height: 52px;
  color: #999ea3;
  background-color: #100f0f;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
}
.form-ordering__input:invalid {
  border-color: rgb(255, 0, 0);
}
.form-ordering__input::placeholder {
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.25;
  color: #999ea3;
}
.form-ordering__text {
  display: inline-block;
  margin-bottom: 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #f3f3f3;
}
.form-ordering__select-wraper {
  position: relative;
}
.form-ordering__select {
  appearance: none;
  max-width: 382px;
  width: 100%;
  height: 52px;
  padding: 16px;
  color: #999ea3;
  background-color: #100f0f;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
}

.form-ordering__option {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #999ea3;
}
.form-ordering__select-svg {
  position: absolute;
  right: 24px;
  top: 24px;
  bottom: 24px;
}
.form-ordering__input-delivery {
  appearance: none;
}
.form-ordering__delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 384px;
  width: 100%;
  height: 74px;
  border: 1px solid #f3f3f3;
  border-radius: 16px;
}
.form-ordering__label-delivery {
  max-width: 192px;
  width: 50%;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 8px;
  padding-bottom: 8px;

  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #f3f3f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-ordering__input-delivery:checked + .form-ordering__label-delivery {
  background-color: #f3f3f3;
  color: #100f0f;
  height: 72px;
  border-radius: 16px 0px 0px 16px;
}
.form-ordering__input-delivery:checked
  + .form-ordering__label-delivery.courier {
  background-color: #f3f3f3;
  color: #100f0f;
  height: 72px;
  border-radius: 0px 16px 16px 0px;
}

.form-ordering__label-radio {
  display: flex;
  gap: 12px;
}

.card {
  margin-bottom: 20px;
}
.form-ordering__input-payment {
  appearance: none;
}

.form-ordering__radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  background-color: #f3f3f3;
}
.form-ordering__radio-svg {
  display: block;
  opacity: 0;
  fill: #2c2c2c;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-ordering__input-payment:checked
  + .form-ordering__radio
  .form-ordering__radio-svg {
  opacity: 1;
}
.form-ordering__link {
  display: block;
  text-decoration-line: underline;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 140%;
  color: #f3f3f3;
}

.form-ordering__label-confirm {
  display: flex;
  gap: 15px;
}

.form-ordering__input-confirm {
  appearance: none;
}

.form-ordering__confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  height: 18px;
  width: 18px;

  border: 3px solid #f3f3f3;
  background-color: #100f0f;
}

.form-ordering_confirm-svg {
  fill: #f3f3f3;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-ordering__input-confirm:checked
  + .form-ordering__confirm
  .form-ordering_confirm-svg {
  opacity: 1;
}
.form-ordering__button-buy {
  max-width: 384px;
  width: 100%;
  height: 66px;
  margin-bottom: 60px;
  background-color: rgba(188, 26, 26, 0.2);
  border-color: rgba(188, 26, 26, 0.2);
  border-radius: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #f3f3f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-ordering__button-buy:hover,
.form-ordering__button-buy:focus {
  background-color: rgba(188, 26, 26, 0.5);
}
