@media only screen and (max-width: 1019px) {
  .products-list__item-text {
    display: none;
  }
}
.page-products .container {
  padding: 0;
}

.products-list__link-image {
  margin: 24px 44px 0 0;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 25px #7c7070);
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  justify-content: center;
}
.products__item {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;

  width: 90%;
}
.products__item:first-child {
  justify-content: flex-start;
}

.link-image_rigth {
  margin: 40px 0 24px 60px;
}

.products-list__item-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color-main);
}

.products-list__item-btn {
  display: block;
  width: 108px;
  height: 29px;
  margin-top: 16px;
  padding: 0px 14px;
  margin-left: 20px;

  border-radius: 8px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
.item-btn_left {
  margin-left: 20px;
}

/* arrows */
.product-wrapper .slick-arrow.slick-prev {
  top: 8px;
  left: 187px;
  z-index: 10;
  rotate: 90deg;
}
.product-wrapper .slick-arrow.slick-next {
  top: 374px;
  right: 50%;
  z-index: 10;
  rotate: 90deg;
}

.slick-prev:before {
  content: '≺';
}
.slick-next:before {
  content: '≻';
}
/* tablet */
@media only screen and (min-width: 1020px) {
  .products-descr {
    display: block;
    width: 443px;
  }
  .product-wrapper .slick-arrow.slick-prev {
    top: 8px;
    left: 50%;
    z-index: 10;
    rotate: 90deg;
  }
  .product-wrapper .slick-arrow.slick-next {
    top: 688px;
    right: 48%;
    z-index: 10;
    rotate: 90deg;
  }
  .products-list__item-text {
    margin-top: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-color-main);
  }
  .products-list__item-btn {
    margin: 20px 0 0 0;
    width: 220px;
    height: 44px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }
  .products-list__link-image:first-child {
    margin-right: 64px;
    margin-top: 30px;
  }
  .link-image_rigth {
    margin-left: 64px;
    margin-top: -35px;
    margin-bottom: 30px;
  }
}
