:root {
  --bg-main: rgba(0, 0, 0, 0.9);

  --text-color-main: rgba(243, 243, 243, 1);
  --text-color-hero-accent: rgba(188, 26, 26, 0.71);
  --text-color-activ: rgba(188, 26, 26, 0.5);
  --buttons-color: rgba(188, 26, 26, 0.2);
  --buttons-color-activ: rgba(188, 26, 26, 0.5);

  --bg-linear-gradient: linear-gradient(
    213deg,
    rgba(111, 102, 102, 1) 1.1%,
    rgba(16, 15, 15, 0.9) 15.77%,
    rgba(0, 0, 0, 0.9) 23.21%
  );
}
